.primary {
  border-radius: 6px;
  border: 1px solid var(--colorPrimaryBase, #000000);
  background: var(--colorPrimaryBase, #000000);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  display: inline-flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 76px;
  height: 40px;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.primary:hover {
  background: var(--colorPrimaryBase, #000000d7);
  border: 1px solid var(--colorPrimaryBase, #000000d7);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}

.primary:active{
  background: var(--colorPrimaryBase, #000000);
  border: 1px solid var(--colorPrimaryBase, #000000);
}

