* {
  font-family: "Roboto", sans-serif;
  touch-action: manipulation; // Prevent default mobile browser highlighting
  -webkit-tap-highlight-color: transparent; /* Prevent default tap highlight */
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #0000002f;
}

.input {
  background-color: #ffffff;
  padding: 3px 0px 3px 15px;
  border-radius: 25px;
  border: 1px solid #00000035;
  transition: 0.3s;
  margin-bottom: 5px;

  &.focused {
    border-color: black;
  }
}

.card {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #00000045;
  margin-bottom: 10px;
}
.location-inputs-phone {
  position: absolute;
  top: 0px;
  width: 100%;
}

.location-inputs-phone .ant-card .ant-card-body {
  border-radius: 0 0 8px 8px;
  &.clicked{
    display: none;
  }
}

.location-inputs-card-phone .ant-card-head {
  padding:0px; // Adjust the padding value as needed
  margin: 0px;
}

.location-inputs-card-phone .ant-card-head-title {
  text-align: center;
  line-height:70px;
  
}


.drivers .ant-card .ant-card-body {
  padding: 0px 0px 20px 0px;
  border-radius: 0 0 8px 8px;
  max-height: calc(61vh + 5px);
  overflow-y: auto;
  
}

.map .ant-card .ant-card-body {
  padding: 0px 0px 0px 0px;
  border-radius: 0 0 8px 8px;
}



.driver-card {
  border-top: 1px solid #00000012;
  width: 100%;
  padding: 10px;
  transition: 0.3s;
}

.driver-card:hover {
  background-color: #00000015;
  cursor: pointer;
}
.driver-card:active {
  background-color: #0000002a;
  cursor: pointer;
}

.driver-info {
  padding-left: 10px;
}

.driver-info span {
  font-weight: 500;
  color: black;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.select-location {
  transition: display 0.3s; // Apply transition to the display property
  
}


.location-inputs-card-phone {
  border-radius: 0;
}

.rate-stars{
  margin-right: 5px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  font-size: 24px;
}

.star-filled{
 color: #ffc800; 
 transition: 0.3s;

}

.star-filled:hover{
 color: #bb9200; 
}

.star-filled:active{
  color: #795e00; 
 }

 .star-out-lined{
  color: #000000; 
  transition: 0.3s;
 
 }
 
 .star-out-lined:hover{
  color: #ffc800; 
 }
 
 .star-out-lined:active{
   color: #bb9200; 
  }

  .driver-infos .ant-card .ant-card-body {
    padding: 12px;
    border-radius: 0 0 8px 8px;
}
 
