.prev-travel-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
}

.prev-travel-date {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #000000c9;
  .time {
    color: #f17624;
  }
}

.prev-travel-price {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #000000aa;
  .price {
    color: #f17624;
  }
}

.prev-travel-status {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  .completed{
    color: #00bb00;
  }
  .canceled{
    color: #da0000;
  }
}

.prev-travel-details {
  color: #f17624;
  cursor: pointer;
  transition: 0.3s;
}

.prev-travel-details:hover {
    color: #fd9f11;
  }
  
  .prev-travel-details:active {
    color: #cc6600; 
  }

.prev-card .ant-card .ant-card-body {
  padding: 0px;
}

.driver-infos{
    .title{
        font-size: 16px;
        font-weight: 600;
        color:#000000cc;

    }
    .field{
        font-size: 14px;
        font-weight: 400;
        color:#f17624;
        text-align: end;
    }
}
