.form-title {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 8px;
  color: #000000E0;
  max-width: 400px;
  text-shadow: 1px 1px 1px #00000083;
}

.form-description {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
  color: #000000E0;
  text-shadow: 0.3px 0.3px 1px #00000083;

}

.input-label {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000E0;
  text-shadow: 0.3px 0.3px 1px #00000083;

}

.input-field {
  font-family: 'SF Pro Text', sans-serif;
  height: 40px;
  margin-bottom: -3px;
  width: 100%;
}

.remember-me {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000E0;
  
}

.forget-password {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #0057d9;
}

.submit {
  font-family: 'SF Pro Text', sans-serif;
  margin-top: 10px;
  height: 40px;
  width: 100%;

}

.form-end-message {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
  text-align: center;
}

.venhancer-logo {
  height: 24px;
}

.check-circle {
  font-size: 63px;
  margin-bottom: 20px;
  color: #52C41A;
}

.password-alert {
  padding: 7px;
  background-color: #FFFBE6;
  border: 1px solid #FFE58F;
  border-radius: 5px;

  .icon {
    padding-left: 5px;
    color: #FAAD14;
  }

  .alert-title {
    padding-left: 5px;
    color: #000000E0;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

}

.password-success {
  padding: 7px;
  background-color: #F6FFED;
  border: 1px solid #B7EB8F;
  border-radius: 5px;

  .icon {
    padding-left: 5px;
    color: #52C41A;
  }

  .alert-title {
    padding-left: 5px;
    color: #000000E0;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}