.login-image {
  min-height: 700px;
  object-fit: cover;
  width: 100%;
  object-position: 0% 20%;
}

.blue-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0072B1;
  mix-blend-mode: multiply;
  z-index: 0;
}

.logo-container {
  z-index: 1;
}